
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown button {
  background-color: hsl(203, 80%, 25%);
  color: hsl(207, 72%, 82%);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.dropdown a {
  display: block;
  background-color: hsl(203, 80%, 25%);
  color: hsl(207, 72%, 82%);
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown .content {
  display: none;
  position: absolute;
  background-color: hsl(203, 80%, 25%);
  min-width: 100px;
  box-shadow: 2px 2px 5px hsl(203, 80%, 15%);
}

.dropdown:hover .content {
  display: block;
}

.dropdown:hover button {
  background-color: hsl(203, 80%, 22%);
}

.dropdown a:hover {
  background-color: hsl(203, 80%, 32%);
}

.dropdown a.selected {
  background-color: hsl(207, 72%, 95%);
  color: hsl(203, 80%, 25%);
  font-weight: bold;
}
